/* 
 * 2099 Sweep Composer GUI
 * https://tr2099.github.io/
 * See LICENSE for copyright information.
 *
 */

body {
	background-color: #fafafa;
}
h1 {
	padding: 0;
	margin: 0;
	font-size: 1em;
}
h1 a {
	color: #333;;
}
h2 {
	font-size: 1.2em;
	display: inline-block;
	margin:  0 0 10px 0;
}
fieldset {
	position: relative;
	margin: 0;
	padding: 0;
}
footer {
	font-size: 0.8em;
	padding-top: 10px;
	margin-top: 20px;
}
input[type="range"] {
	width: 100%;
	margin: 0;
}

/*player*/
.sample-player {
	min-width: 770px;
	margin: 0 auto;
}
.sample-player-inner {
	padding: 0 10px 0 10px;
}
.wave-spec-container {
	background-color: black;
	margin: 0;
	position: relative;
}
.sample-caption {
	font-size: 0.6em;
	height: 0.7em;
	position: relative;
	top: -15px;
	left: 3px;
	color: #fff;
}
.player-controls {
	margin: 0;
	position: relative;
	height: 50px;
}
.volbox {
	position: absolute;
	left: 0;
	top: -5px;
	width: 320px;
}
.player-controls-buttons {
	position: absolute;
	top: 0;
	left: 330px;
}

/*sweeps*/
.form-control {
	width: 90px;
}
.sweep-steps-container {
	width: 320px;
	float: left;
	max-height: 270px;
	overflow-y: auto;
}
.sweep-steps {
	margin: 0;
	padding: 0 10px 0 0;
}
.sweep-steps li {
	position: relative;
	margin: 0 0 10px 0;
	padding: 0 10px 0 5px;
	width: auto;
	list-style-position: inside;
	font-size: 0.75em;
}
.remove-step {
	position: absolute;
	top: 0;
	right: 5px;
	padding: 5px;
	cursor: pointer;
}
.range {
	display: block;
	margin: 0;
}

/*options*/
.sample-options {
	font-size: 0.8em;
	padding: 10px 0;
	margin-left: 330px;
}
.form-control {
	width: 70px;
}
.fxonly {
	background-color: #ddd;
	display: inline;
	padding: 0 10px;
}
.btn {
	cursor: pointer;
}
.btn:hover {
	background-color: #ccc;
}
.btn-2099 {
	color: #fff;
	background-color: #111;
}
.btn-2099:hover {
	background-color: #353535;
}
.filter {
	display: inline;
	padding: 2px 1px;
	position: relative;
	top: -1px;
}
